<!Doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style type="text/css">


form{
	max-width: 18.75em;
	margin-left: auto;
	margin-right: auto;
}
h2{
	text-align: center;
	background-color: navy;
	color: white;
	background-position: center;
	
}
table{
	font-size: 20px;
	margin-left: 10px;
}

  body{
  	
  }
</style>


</head>


<body ng-app="phoneApp" ng-controller="myPhoneCtr">


<div><h2>Basic Phone Book App with AngularJS</h2> </div>


<table ng-repeat="x in EmptList" ng-click="BindSelectedData(x)">
	<thead>
		<tr>
		<th>{{x.Id}}</th>
	   </tr>
	<tr>
		<th><span class="glyphicon glyphicon-user"></span> {{x.Name}}</th>
	</tr>
	<tr>
		<td><span class="glyphicon glyphicon-earphone"></span>  {{x.Phone1}}</td>
	</tr>
	<tr>
		<td><span class="glyphicon glyphicon-phone"></span> {{x.Phone2}}</td>
	</tr>
	<tr>
		<td><span class="glyphicon glyphicon-phone-alt"></span> {{x.Phone3}}</td>
	</tr>
	<tr>
		<td><span class="glyphicon glyphicon-envelope"></span> {{x.Email}}</td>
	</tr>
	<tr>
		<td><button  ng-click="RemoveItem(x)" ><span class="glyphicon glyphicon-trash "></span></button></td>
		

	</tr>
</table><br>

</div>
<div></div>
<form name="Form" class="form-group" >

	<div >
		<label>Name:</label>
		<input type="text" name="name"  class="form-control"   placeholder="Enter Name" ng-model="contact_Name" autofocus required >
		<span ng-show="Form.name.$error.required"></span>
	</div>
	<div  >	
		<label>Phone Home</label>
		<input type="tel" name="phone1" class="form-control"  placeholder="Enter Phone Number 1"
			 ng-model="contact_Phone1" 
			 ng-minlength="10" ng-maxlength="10"
			 
			 autofocus required>
		<span ng-show="Form.name.$error.required"></span>
		<span ng-show="Form.name.$error.minlength">phone should be 10 digits</span>
		<span ng-show="Form.name.$error.maxlength">phone should not be more than 10 digits</span>
	 
	</div>
	<div >
		<label>Phone Mobile</label>
		<input type="tel" class="form-control"  placeholder="Enter Phone Number2"  ng-model="contact_Phone2"autofocus required>
	</div>
			
	<div  >
		<label>Phone Work</label>	
		<input type="tel" class="form-control"  placeholder="Enter Phone  Number3"  ng-model="contact_Phone3"autofocus >
	</div>
	<div  >
		<label>Email</label>
		<input type="email" class="form-control"   placeholder="example@email.com"   name="email"  ng-model="contact_Email" required><span ng-show="Form.email.$error.required"></span>

	</div>	
<div>
		<input type="button"   class = "btn btn-default" value="Save" ng-click="SaveContact()" name="SaveMe" >
</div>
			

</form>

</div>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
			
			<script type="text/javascript" src="phonebook.js"></script>

</body>
</html>
